<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simplecoding.projectcoffee.menu.mapper.MenuMapper">

    <!-- 큰 카테고리(커피/음료/디저트/샵/굿즈) -->
    <select id="selectMenuByCategory"
            parameterType="int"
            resultType="com.simplecoding.projectcoffee.menu.vo.Menu">
        SELECT
            P_UUID,
            P_NAME,
            SUBTITLE,
            SUB_CATEGORY,
            DESCRIPTION,
            PRICE,
            IMG_URL,
            IS_AVAILABLE,
            C_DATE,
            SQUANTITY,
            CATEGORY_ID
        FROM MENU
        WHERE CATEGORY_ID = #{categoryId}
        ORDER BY C_DATE DESC
    </select>

    <!-- 작은 카테고리(HOT/ICE, cake/cookie/bread 등) -->
    <select id="selectMenuByCategoryAndSub"
            resultType="com.simplecoding.projectcoffee.menu.vo.Menu">
        SELECT
            P_UUID,
            P_NAME,
            SUBTITLE,
            SUB_CATEGORY,
            DESCRIPTION,
            PRICE,
            IMG_URL,
            IS_AVAILABLE,
            C_DATE,
            SQUANTITY,
            CATEGORY_ID
        FROM MENU
        WHERE CATEGORY_ID = #{categoryId}
          AND LOWER(TRIM(SUB_CATEGORY)) = LOWER(TRIM(#{subCategory}))
        ORDER BY C_DATE DESC
    </select>
    <!-- 메인 화면: 메뉴 (1,2,3 섞어서 8개) -->
    <select id="selectMainMenu"
            resultType="com.simplecoding.projectcoffee.menu.vo.Menu">
        SELECT *
        FROM MENU
        WHERE IN_MENU = 'Y'
          AND CATEGORY_ID IN (1,2,3)
        ORDER BY C_DATE DESC
            FETCH FIRST 8 ROWS ONLY
    </select>

    <!-- 메인 화면: 굿즈 (4,5 섞어서 5개) -->
    <select id="selectMainGoods"
            resultType="com.simplecoding.projectcoffee.menu.vo.Menu">
        SELECT *
        FROM MENU
        WHERE IN_MENU = 'Y'
          AND CATEGORY_ID IN (4,5)
        ORDER BY C_DATE DESC
            FETCH FIRST 5 ROWS ONLY
    </select>

</mapper>
